<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>Hello,</p>
   <p>We received a request to reset your password for your account. If you didn't
    make this request, please disregard this email. To proceed with the password
    reset, please click on the following button.</p> 
   <h3><a href="{{resetLink}}">click here</a></h3>
    <p> Please note that this link will expire in 10m. If the link has expired, you
    can initiate another password reset request from the application.
   </p>
  </body>
</html>
