<!DOCTYPE html>
<html>
  <head>
    <title>Your User ID</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
        background-color: #f4f4f4;
      }

      p {
        color: #555;
        font-size: 16px;
        margin-bottom: 10px;
      }

      .container {
        max-width: 500px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
    </style>
  </head>
  <body>
    <div class="container">
      <p>Dear User,</p>
      <p>Your User ID is: {{ userId }}</p>
      <p>Please make a note of this ID ture reference.</p>
      <p>Thank you!</p>
    </div>
  </body>
</html>
