<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Email Verification</h2>
    <p>Dear User,</p>
    <p>Thank you for registering with our service. To complete your registration, please verify your email address by clicking the link below:</p>
    <a href="{{verifyLink }}">Verify Email</a>
    <p>Please note that your account will remain inactive until it is activated by an administrator. Once your account is activated, you will be able to log in.</p>
    <p>Thank you,</p>

</body>

</html>